prestashop/var/cache/
prestashop/var/logs/
prestashop/app/cache/
prestashop/cache/
prestashop/admin*/autoupgrade/tmp/
prestashop/admin*/import/
prestashop/modules/*/cache/
prestashop/modules/*/logs/
prestashop/config/xml/trusted_modules_list.xml
prestashop/config/xml/untrusted_modules_list.xml
prestashop/img/tmp/